body {
    background-color: rgb(49, 50, 61);
    font-family: 'Roboto Mono', monospace;
    color: rgb(206, 195, 165);
}

.container{
  width: 60%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgb(206, 195, 165);
  font-style: normal;
} 
span {
  font-weight: bold;
}

.navbar {
  background-color: transparent !important;
  border-bottom: none;
}

.navbar-nav .nav-link {
  transition: color 0.7s ease;
}

body {
  padding-top: 70px; /* Ajusta este valor según la altura de tu navbar */
}


html {
  scroll-behavior: smooth;
}


#projects {
  margin-top: 50px; /* Espacio superior para separar del contenido anterior */
  margin-bottom: 50px;
}

#projects h2 {
  margin-bottom: 30px; /* Espacio entre el título y las cards */
  font-size: 2rem;
}

.card {
  margin-bottom: 20px;
  min-height: 400px;
  background-color:rgb(206, 195, 165) ;
  text-align: center;
  transition: transform 0.3s ease; /* Transición suave al levantar la card */
}
.btn{
  background-color: rgb(49, 50, 61) ;
}

.card:hover {
  transform: translateY(-10px); /* Levanta la card 10px hacia arriba */
  box-shadow: 0 8px 16px rgba(2, 2, 2, 0.5); /* Añade un poco más de sombra para el efecto */
}

.card img {
  height: 200px; /* Ajusta la altura de la imagen */
  object-fit: cover; /* Recorta la imagen para que se ajuste al tamaño */
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 20px;
  color:rgb(49, 50, 61) ;
}

.btn {
  width: 100%;
  font-size: 1rem;
}






