body {
    background-color: #18182eef;
    font-family: 'Roboto Mono', monospace;
}

.container{
  width: 80%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
} 

#projects {
  margin-top: 50px; /* Espacio superior para separar del contenido anterior */
  margin-bottom: 50px;
}

#projects h2 {
  margin-bottom: 30px; /* Espacio entre el título y las cards */
  font-size: 2rem;
}


.card:hover {
  transform: translateY(-10px); /* Levanta la card 10px hacia arriba */
  box-shadow: 0 8px 16px rgba(2, 2, 2, 0.5); /* Añade un poco más de sombra para el efecto */
}

.custom-card {
  background-color: #2c2c54; /* Color de fondo oscuro */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.custom-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.custom-card-text {
  color: #b0b0b0;
  margin-bottom: 20px;
}

.card {
  transition: transform 0.3s ease;
  border-radius: 15px;
  border: none;
  background-color: #2c2c6c;
  color: white;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 20px;
}

.btn-primary {
  background-color: #5a67d8;
  border: none;
  color: white;
}

.btn-primary:hover {
  background-color: #434190;
}

h2.text-center {
  font-size: 2rem;
  margin-bottom: 2rem;
}


/* Navbar Styles */
.navbar {
  background-color: transparent !important;
  border-bottom: none;
  font-size: 20px;
}

.navbar-nav .nav-link {
  transition: color 0.7s ease;
}

.navbar .nav-link:hover {
  color: #ffc107 !important; 
}


.fixed-top {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
}

.fa-brands {
  padding: 5px;
  color: #fff;
}

#skills i {
  color: #007bff; /* Color azul predeterminado */
  transition: color 0.3s ease;
}

#skills i:hover {
  color: #0056b3; /* Color más oscuro al pasar el cursor */
}

#skills p {
  margin-top: 10px;
  font-weight: bold;
}


/* Responsive Cards */
@media (max-width: 1298px) {
  .card {
    margin-bottom: 30px;
  }

}


